<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Public Policy Programme, Alan Turing Institute</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Contact</li><li><a class="u-email" href="mailto:vstraub@turing.ac.uk">vstraub#turing.ac.uk</a></li></ul>
      <a href="https://www.turing.ac.uk/" target="_blank"><img src="/images/alan_turing_logo.png" ></a>
      </div>

      <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <li>Find out more at: </li>
          <li><a href="https://www.turing.ac.uk/research/research-programmes/public-policy" target="_blank">www.turing.ac.uk</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Artificial intelligence in government: a unified framework and review.</p>
      </div>
    </div>

  </div>

</footer>
