<html>
 <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns */
    .column {
    float: left;
    }

    /* Set width length for the left, right and middle columns */
    .left {
    width: 10%;
    }

    .middle {
    width: 55%;
    }
    
    .right {
    width: 35%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>
 <body>
    <div class="row">
        <div class="column left" >
            <h2>  </h2>
            <p></p>
        </div>
        <div class="column middle" >
          <br>
            <h2> Artificial intelligence in government: Concepts, standards, and a unified framework </h2>
            <p>A project by the Public Policy Programme at the Alan Turing Institute</p>
        </div>
        <div class="column right" >
          <br>
          <a href="https://www.turing.ac.uk/" target="_blank"><img src="images/alan_turing_institute_logo.jpeg" width="210" height="110"></a>
        </div>
    </div>
 </body>
</html>

<!--
<header class="site-header h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="header-heading"> Artificial intelligence in government: Concepts, standards, and a unified framework  </h2>

    <div class="header-col-wrapper">
     
      <div class="header-col footer-col-1">
          <p>A project carried out by: </p> 
          <a href="https://www.turing.ac.uk/" target="_blank"><img align="left" src="images/alan_turing_institute_logo.jpeg" width="165" height="77"></a>
      </div>

  </div>

</header>
-->
